/* body */
body {
	background-color: #f2f2f2;
	color:black;
	font-size: 1rem;
	font-family:'Arial';
	text-align:justify;
	margin-top:30px;
	margin-bottom:60px;
}

h1 { color: #99ccff; }
h2 { color: black; }
h3 { color: black; }

li { margin: 10px 0; }

/* links */
a:link {
  	color: #004d99;
  	background-color: transparent;
  	text-decoration: none;
}

a:visited {
	color: #004d99;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #004d99;
	background-color: transparent;
	text-decoration: underline;
}
	
a:active {
	 color: #004d99;
	 background-color: transparent;
	 text-decoration: underline;
}
			
* {
	  box-sizing: border-box;
}




/* rows and columns */
.column {
	float: left;
	width: 50%;
	padding: 5px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.newspaper {
	column-count: 3;
	column-width: 30%;
}



.topnav {
  background-color: gray;
  overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #cce6ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1em;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

figure {
  text-align: right;
  padding: 4px;
  margin: auto;
}

figcaption {
  color: black;
  padding: 2px;
  text-align: right;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  body{
  	margin-left:5%;
  	margin-right:5%;
  	text-align:left;
  }
  
    .column {
    width: 100%;
    float: none;
  }
  
  figure{
  	text-align: left;
  }
  
  figcaption{
  	text-align: left;
  }
  
  .newspaper{
  	column-width: 100%;
  	column-count:1;
  }
}



@media only screen and (min-width: 768px) {
  body{
  	margin-left:13.5%;
  	margin-right:13.5%;
  }
}

@media only screen and (min-width: 992px) {
  body{
  	margin-left:13.5%;
  	margin-right:27%;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
